<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue To-do List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="app" class="container mt-4">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">待辦事項</span>
          </div>
          <input type="text" class="form-control" v-model="newTodo" @keyup.enter="addTodo" placeholder="準備要做的任務">
          <div class="input-group-append">
            <button class="btn btn-primary" @click="addTodo" type="button">新增</button>
          </div>
        </div>
        <div class="card text-center">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item">
                <a class="nav-link active" href="#">全部</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">進行中</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">已完成</a>
              </li>
            </ul>
          </div>
          <ul class="list-group list-group-flush text-left">
            <li class="list-group-item" v-for="(item, key) in todos">
              <div class="d-flex">
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="a1">
                  <label class="form-check-label" for="a1">
                    {{ item.title }}
                  </label>
                </div>
                <button type="button" class="close ml-auto" @click="removeTodo(key)" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </li>
            <li class="list-group-item">
              <input type="text" class="form-control">
            </li>
          </ul>
          <div class="card-footer d-flex justify-content-between">
            <span>還有 3 筆任務未完成</span>
            <a href="#">清除所有任務</a>
          </div>
        </div>
      </div>
      <style>
        .completed {
          text-decoration: line-through
        }
      </style>
      <script src="./main.js"></script>
      <script>
        const mountedApp = app.mount('#app')
      </script>
</body>
</html>